n8n_slack_daily_motivation_bot_v140525.json
{
  "name": "n8n_slack_daily_motivation_bot_v140525",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{$json[\"text\"]}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        840,
        180
      ],
      "id": "6f05aa68-2add-4d8a-97ef-9343c4761ac7",
      "name": "Send to Slack Channel",
      "webhookId": "bda484db-c362-4be8-841c-043d6961249e"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: `${$json[\"q\"]} — ${$json[\"a\"]}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        180
      ],
      "id": "59028779-1573-40a4-8ca8-c055ba9d9f0f",
      "name": "Format Slack Message"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        180
      ],
      "id": "398cfe84-81b4-46c4-8345-2444f8ccf75b",
      "name": "Fetch Daily Quote (ZenQuotes API)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "bcb35d99-d8ab-4687-a93e-b0e149d52323",
      "name": "08:00 – Morning Boost"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        180
      ],
      "id": "8e087127-33c5-4d7b-931d-518e659521f8",
      "name": "13:00 – Midday Reminder"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        360
      ],
      "id": "9f072fdd-902e-4ee0-b773-ddbf15550298",
      "name": "18:00 – Evening Motivation"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Quote (ZenQuotes API)": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08:00 – Morning Boost": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13:00 – Midday Reminder": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18:00 – Evening Motivation": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1bcdb05-e669-4a02-b86f-c82e0848db13",
  "meta": {
    "instanceId": "0c91cd2a3133931f13781d4dcd6db321515413596b36e6bddb494176726841a7"
  },
  "id": "fFyWFtNDFQQQo7gu",
  "tags": [
    {
      "createdAt": "2025-05-14T18:52:56.055Z",
      "updatedAt": "2025-05-14T18:52:56.055Z",
      "id": "a6b41kNUtX65uzIo",
      "name": "tuguidragos.com"
    }
  ]
}