n8n_slack_daily_motivation_bot_v140525.json
{
  "name": "n8n-slack-daily-motivation-bot-v140525",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{$json[\"text\"]}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        460,
        -40
      ],
      "id": "80590ca9-b8f1-4b7c-83b4-2780501ef2c4",
      "name": "Send to Slack Channel",
      "webhookId": "bda484db-c362-4be8-841c-043d6961249e",
      "credentials": {
        "slackApi": {
          "id": "mFSp2gMdN01U9qKa",
          "name": "PingBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: `${$json[\"q\"]} — ${$json[\"a\"]}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -40
      ],
      "id": "d991d06f-af3b-4050-b99d-d47341bf2985",
      "name": "Format Slack Message"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -40
      ],
      "id": "8d63fc03-5141-4e5c-a987-1c19910e1292",
      "name": "Fetch Daily Quote (ZenQuotes API)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        -220
      ],
      "id": "d1db1e00-af52-42e4-8508-33af295718aa",
      "name": "08:00 – Morning Boost"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        -40
      ],
      "id": "15ade7be-194e-441c-9272-9ed3d4cb7501",
      "name": "13:00 – Midday Reminder"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        140
      ],
      "id": "bee2824e-8e3b-4845-b099-d6fd3741d2c9",
      "name": "18:00 – Evening Motivation"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Quote (ZenQuotes API)": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08:00 – Morning Boost": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13:00 – Midday Reminder": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18:00 – Evening Motivation": {
      "main": [
        [
          {
            "node": "Fetch Daily Quote (ZenQuotes API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c35758cc-57e9-44ae-9ce0-dbbfad8eaef3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42c40cc48e95ea619db10093bc6a9e72ec96e3fd0dcc74a52a793fa45164517b"
  },
  "id": "b8V2qduhJaJ9gjRx",
  "tags": [
    {
      "createdAt": "2025-04-20T16:01:24.763Z",
      "updatedAt": "2025-04-20T16:01:24.763Z",
      "id": "XCk2TNTY88ak5VpJ",
      "name": "tuguidragos.com"
    }
  ]
}